<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
  </head>
  <body>
    <form action="" method="GET">
      <input type="text" name="q" value="{{ q }}" />
      <input type="submit" value="검색" />
    </form>
    <table>
      <tbody>
        {% for post in post_list %}
        <tr>
          <td>
            {% if post.photo %}<img
              src="{{post.photo.url}}"
              style="width: 70px;"
              ;
            />
            {% else %} No Photo {%endif%}
          </td>
          <td>
            {{post.message}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
